body {
  background-color: #efecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #0d6efd;
  font-weight: bold;
}
.form-element {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #0d6efd;
  border: 2px solid #0d6efd;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}
.form-element label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}
.form-element input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0d6efd;
  height: 40px;
  color: #0d6efd;
  padding-left: 5px;
}

.form-element2 {
  width: 370px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  border: 2px solid #0d6efd;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}
.form-element2 label {
  font-size: 20px;
  font-weight: bold;
  color: #0d6efd;
  margin-bottom: 2px;
}
.form-element2 input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0d6efd;
  height: 40px;
  color: #0d6efd;
  padding-left: 5px;
}
.btn-container1 {
  width: 100%;

  padding-bottom: 13px;
}

button {
  width: 120px;
  height: 50px;
  font-size: 10px;
  border: none;
}

.errormsg {
  color: red;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 0.7rem;
  margin-top: 5px;
  padding: 0;
}
